*{
   margin: 0px;
padding: 0px;
font-family: century Gothic;

}
   
body{
background-image: url(beach.jpg);
height: 100%;
background-size: cover;
background-position: center;
}
ul{
float: right;
list-style-type: none;
margin-top: 20px;
}
ul li{
display:inline-block;
}
ul li a{
text-decoration: none;
padding: 5px 20px;
border: 1px solid #fff;
}
ul li a:hover{
    background-color: #fff;
    color: black;
    
}

}

